<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.highcontrast">

    <application
        android:allowBackup="true"
        android:label="美团高对比文字"
        android:supportsRtl="true"
        android:hasCode="true">
        <meta-data android:name="xposedmodule" android:value="true" />
        <meta-data android:name="xposeddescription" android:value="为美团众包App强制启用系统级高对比文字效果，原理：Hook Settings读取，使系统渲染引擎自动增强文字对比度" />
        <meta-data android:name="xposedminversion" android:value="82" />
    </application>
</manifest>
